body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

main {
    padding: 2em;
}

#form-container {
    margin: 2em 0;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
}

.hidden {
    display: none;
}

#list-container, #quick-add-container {
    margin: 2em 0;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.increment-button, .quick-add-button {
    margin-left: 10px;
    padding: 0.3em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
}

.increment-button:hover, .quick-add-button:hover {
    background-color: #0056b3;
}
